$primary-color: #31312F;
$secondary-color: #23b7e5;
$accent-color: #DEAD4A;
$min-color: rgb(11, 11, 90);
$max-color: rgb(65, 16, 16);

$font: Moon, Helvetica, sans-serif;
$font-size: calc(3rem + 6vw);

@mixin super-center() {
  display: grid;
  place-items: center;
}

@mixin side-by-side() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin font-size($font-size) {
  $font-size-width: $font-size + 0vw;
  $font-size-height: $font-size + 0vh;
  font-size: calc(#{$font-size-width} + #{$font-size-height});
}

@mixin button() {
  font-size: calc(2vw + 1rem);
  padding: 2vw;
  cursor: pointer;
}

@mixin overlay() {
  @include super-center();
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin underlay() {
  @include overlay();
  z-index: -1;
}

@mixin animation-delay($property) {
	-webkit-animation-delay: $property;
	animation-delay: $property;
}

@mixin loading-spinner() {
    // https://projects.lukehaas.me/css-loaders/
    .loader,
    .loader:before,
    .loader:after {
        background: $accent-color;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    .loader {
        position: relative;
        top: 16rem;
        color: $accent-color;
        margin: 0 auto;
        @include animation-delay(-0.16s);
    }
    .loader:before,
    .loader:after {
		position: absolute;
		top: 0;
		content: '';
    }
    .loader:before {
		left: -1.5em;
        @include animation-delay(-0.32s);
    }
    .loader:after {
		left: 1.5em;
    }
    @-webkit-keyframes load1 {
		0%,
		80%,
		100% {
			box-shadow: 0 0;
			height: 4em;
		}
		40% {
			box-shadow: 0 -2em;
			height: 5em;
		}
    }
    @keyframes load1 {
		0%,
		80%,
		100% {
			box-shadow: 0 0;
			height: 4em;
		}
		40% {
			box-shadow: 0 -2em;
			height: 5em;
		}
	}
}